
<div class="nav0">
    <nav class="navbar navbar-expand-lg bg-body-dark ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-light"></span>
                <!-- <span> <img src="../../assets/phone_android.png" alt=""></span> -->
              </button>
             
                
            
            
            <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 col-xxl-1">
                <h1>deol.com.au <br>
                    <p> Car&Truck Rentals</p>
                </h1>
            </div>
          
            <div class="collapse navbar-collapse nav1 " id="navbarSupportedContent" style="justify-content: center;">
                <div class="col-6 col-sm-6 col-md-6 col-lg-8 col-xl-8 col-xxl-10 ">
                    <div class="row spacenav text-center">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav2" style="justify-content: center;">
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">Location</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">Reservation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">Add Whicle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">ContactUs</a>
                                </li>
                            </ul>
                                <span class="spanClass"></span>
                            <ul class="d-flex justify-content-center navbar-nav me-auto nav2">
                                <span class="greenDot" ></span>
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">ADELAIDE</a>
                                </li>
                                <span class="greenDot" ></span>
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">BRISBANE</a>
                                </li>
                                <span class="greenDot"></span>
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">CAIRNS</a>
                                </li>
                                <span class="greenDot me-2"></span>
                                <li class="nav-item">
                                    <a class="nav-link active" id="id" aria-current="page" href="#">DEVONPART</a>
                                </li>
                            </ul>
                    </div>
                </div>

                <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2 col-xxl-1 text-end">
                    <button class="btn btn btn-warning" type="submit">Book Now</button><br>

                </div>
            </div>
        </div>

    </nav>


</div>
<!-- end of navigation bar -->