<div class="container-fluid">
    <div class="row text-center home ">
        <h1>WELCOME TO THE Deol Car & Truck Rentals</h1>
        <div class="row box mt-4">
            <div class="col-xl-3 col-md-3 col-sm-3 col-xs-3 sideborder">
                <ul class="navbar-nav mt-3">
                    <li> <img class="me-3" src="../../../assets/location_on_FILL0_wght400_GRAD0_opsz24.png"
                            alt="">Choose oofice</li>
                </ul>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-3 col-xs-3 sideborder ">
                <ul class="navbar-nav mt-3">
                    <li> <img class="me-3" src="../../../assets/calendar_month_FILL0_wght400_GRAD0_opsz24.png"
                            alt="">Choose pickup date</li>
                </ul>
            </div>
            <div class="col-xl-2 col-md-2 col-sm-3 col-xs-3 sideborder">
                <ul class="navbar-nav mt-3">
                    <li> <img class="me-3" src="../../../assets/location_on_FILL0_wght400_GRAD0_opsz24.png" alt="">
                        Raturn office</li>
                </ul>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-3 col-xs-3  ">
                <ul class="navbar-nav mt-3">
                    <li> <img class="me-3" src="../../../assets/calendar_month_FILL0_wght400_GRAD0_opsz24.png"
                            alt="">Choose return Date</li>
                </ul>
            </div>
            <div class="col col-md col-sm col-xs ">
                <div class="srech "></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center " >
            <h4 class="mt-4">WHY CHOOSE US</h4>
            <div class="row mt-4" >
                <div class="col-xl-4 col-lg-3 col-md-3 boxes">
                    <div class="col greenDot mt-4"><img class="mt-4"
                            src="../../../assets/thumb_up_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div class="col mt-3">
                        <h5>Australia Owned Busines</h5>
                        <p>Resding and running our owned business in Australia formore than a decade, our quality fits
                            into standards that our clients look for</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 boxes">
                    <div class="col greenDot mt-4"><img class="mt-4"
                            src="../../../assets/directions_car_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div class="col mt-3">
                        <h5>Quality Vehicles</h5>
                        <p>Resding and running our owned business in Australia formore than a decade, our quality fits
                            into standards that our clients look for</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 boxes ">
                    <div class="col greenDot mt-4"><img class="mt-4"
                            src="../../../assets/support_agent_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div class="col mt-3">
                        <h5>Customised Solution</h5>
                        <p>Resding and running our owned business in Australia formore than a decade, our quality fits
                            into standards that our clients look for</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 boxes">
                    <div class="col greenDot mt-4"><img class="mt-4"
                            src="../../../assets/support_agent_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div class="col mt-3">
                        <h5>Direct Contact With Agent</h5>
                        <p>Resding and running our owned business in Australia formore than a decade, our quality fits
                            into standards that our clients look for</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 boxes ">
                    <div class="col greenDot mt-4"><img class="mt-4"
                            src="../../../assets/thumb_up_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div class="col mt-3">
                        <h5>Best Prices Guarantee</h5>
                        <p>Resding and running our owned business in Australia formore than a decade, our quality fits
                            into standards that our clients look for</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3  boxes ">
                    <div class="col greenDot mt-4"><img class="mt-4"
                            src="../../../assets/timer_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div class="col mt-3">
                        <h5>Short & Long Term Available</h5>
                        <p>Resding and running our owned business in Australia formore than a decade, our quality fits
                            into standards that our clients look for</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home3">
        <div class="container-fluid mt-4">
            <div class="row ">
                <h4 class="text-center mt-4">VCHICLE CATEGORIES</h4>
                <div class="row mt-4">
                    <div class="col-xl-4">
                        <div class="col minibus">
                            <p>
                                <button type="button" class="btn btn-secondary">Crew Choice</button>
                            </p>
                        </div>
                        <div class="col d-flex">
                            <div class="col-6 ">
                                <h4>Mini Bus</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn btn-warning">Book Now</button>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <p class="pe-2"><img src="" alt=""> 12 Seats</p>
                            <p class="pe-2"><img src="" alt=""> 3 Bages</p>
                            <p><img src="" alt=""> 3 Doors</p>
                        </div>
                        <p><img src="" alt=""> AC,Reverse Camera</p>
                    </div>
                    <div class="col-xl-4">
                        <div class="col minibus">
                            <p>
                                <button type="button" class="btn btn-secondary">Crew Choice</button>
                            </p>
                        </div>
                        <div class="col d-flex">
                            <div class="col-6 ">
                                <h4>Mini Bus</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn btn-warning">Book Now</button>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <p class="pe-2"><img src="" alt=""> 12 Seats</p>
                            <p class="pe-2"><img src="" alt=""> 3 Bages</p>
                            <p><img src="" alt=""> 3 Doors</p>
                        </div>
                        <p><img src="" alt=""> AC,Reverse Camera</p>
                    </div>

                    <div class="col-xl-4">
                        <div class="col minibus">
                            <p>
                                <button type="button" class="btn btn-secondary">Crew Choice</button>
                            </p>
                        </div>
                        <div class="col d-flex">
                            <div class="col-6 ">
                                <h4>Mini Bus</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn btn-warning">Book Now</button>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <p class="pe-2"><img src="" alt=""> 12 Seats</p>
                            <p class="pe-2"><img src="" alt=""> 3 Bages</p>
                            <p><img src="" alt=""> 3 Doors</p>
                        </div>
                        <p><img src="" alt=""> AC,Reverse Camera</p>
                    </div>
                    <div class="col-xl-4">
                        <div class="col minibus">
                            <p>
                                <button type="button" class="btn btn-secondary">Crew Choice</button>
                            </p>
                        </div>
                        <div class="col d-flex">
                            <div class="col-6 ">
                                <h4>Mini Bus</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn btn-warning">Book Now</button>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <p class="pe-2"><img src="" alt=""> 12 Seats</p>
                            <p class="pe-2"><img src="" alt=""> 3 Bages</p>
                            <p><img src="" alt=""> 3 Doors</p>
                        </div>
                        <p><img src="" alt=""> AC,Reverse Camera</p>
                    </div>
                    <div class="col-xl-4">
                        <div class="col minibus">
                            <p>
                                <button type="button" class="btn btn-secondary">Crew Choice</button>
                            </p>
                        </div>
                        <div class="col d-flex">
                            <div class="col-6 ">
                                <h4>Mini Bus</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn btn-warning">Book Now</button>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <p class="pe-2"><img src="" alt=""> 12 Seats</p>
                            <p class="pe-2"><img src="" alt=""> 3 Bages</p>
                            <p><img src="" alt=""> 3 Doors</p>
                        </div>
                        <p><img src="" alt=""> AC,Reverse Camera</p>
                    </div>
                    <div class="col-xl-4">
                        <div class="col minibus">
                            <p>
                                <button type="button" class="btn btn-secondary">Crew Choice</button>
                            </p>
                        </div>
                        <div class="col d-flex">
                            <div class="col-6 ">
                                <h4>Mini Bus</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn btn-warning">Book Now</button>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <p class="pe-2"><img src="" alt=""> 12 Seats</p>
                            <p class="pe-2"><img src="" alt=""> 3 Bages</p>
                            <p><img src="" alt=""> 3 Doors</p>
                        </div>
                        <p><img src="" alt=""> AC,Reverse Camera</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" homepage-loction mt-4">
        <div class="container-fluid">
            <div class="row">
                <h3 class="text-center mt-4 ">OUR LOCTION</h3>
                <div class="col mt-4">
                    <div class="col loction d-flex " style="align-items: flex-end ">
                        <div class="col-10 d-flex ">Dandenong VIC </div>
                        <div class="col-2 dout"><img src="" alt=""></div>

                    </div>
                </div>
                <div class="col mt-4 ">
                    <div class="col loction d-flex " style="align-items: flex-end ">
                        <div class="col-10 d-flex ">Dandenong VIC </div>
                        <div class="col-2 dout"><img src="" alt=""></div>

                    </div>
                </div>
                <div class="col mt-4 ">
                    <div class="col loction d-flex " style="align-items: flex-end ">
                        <div class="col-10 d-flex ">Dandenong VIC </div>
                        <div class="col-2 dout"><img src="" alt=""></div>

                    </div>
                </div>
                <div class="col mt-4 ">
                    <div class="col loction d-flex " style="align-items: flex-end ">
                        <div class="col-10 d-flex ">Dandenong VIC </div>
                        <div class="col-2 dout"> <img src="" alt=""></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-4 mt-4">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-6 text-center">
                    <div class="col home4_img"></div>
                </div>
                <div class="col-6 mt-4">
                    <div class="col mt-4">
                        <h3>What DO You Know About</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, exercitationem sit,
                            mollitia numquam, repellat incidunt accusantium veniam eius facilis suscipit officia error
                            sed ratione reiciendis similique dolores enim sequi in.</p>
                        <button type="button" class="btn btn-warning">Our Company</button>
                    </div>
                </div>
            </div>
            <div class="row mt-4 ">
                <div class="col d-flex">
                    <div class="col d-flex relative">
                        <div class="col home5_img"></div>
                        <div class="col">
                            <h3 class="mt-4">WHAT OUR CLIENTS SAY</h3>
                        </div>
                        <div class="absolute">
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active" aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../../../assets/pexels-jay-pizzle-3802510.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../assets/pexels-jay-pizzle-3802510.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../assets/pexels-jay-pizzle-3802510.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>