<div>
    <div class="row footr ">
        <div class="col-8  mt-4">
            <h3 class="ms-4">HAVE A QUESTIONS? FEEL FREE TO ASK....</h3>
        </div>
        <div class="col-sm-4 text-end mt-4">
            <button type="button" class="btn btn-dark mr-4 ">0686871299</button>
            <button type="button" class="btn button2"> Feedback</button>
        </div>
    </div>
    <div class=" bgdeol">
        <div class="col-8 ">
            <h1 class="deol ms-4">deol.com.au</h1>
            <p class=" deol2 ms-4">DEOL Rentals offers the best Truck & Car rental service in Australia. Wherever you
                <br>
                ara,We'll set you upwith the Trucks & Car rentaldeal best suited for you
            </p>
        </div>
        <div class="col-4 text-center mt-4">
            <span class="img1">
                <img class="img3" src="../../assets/jam_facebook.png" alt="" width="30px">
            </span>
            <span class="img1">
                <img class="img3" src="../../assets/Group 154.png" alt="" width="30px">
            </span>
            <span class="img1">
                <img class="img3" src="../../assets/mdi_youtube.png" alt="" width="30px">
            </span>
            <span class="img1">
                <img class="img3" src="../../assets/Group 156.png" alt="" width="30px">
            </span>
        </div>
    </div>
    <div class="footr3 ">
        <div class="py-2 px-4 d-flex mt-4">
            <div class="col-4">
                <h5 class="ms-4">CONTACT INFO:</h5>
                <ul class="navbar-nav ms-4">
                    <li> <span class="me-3"><img src="../../assets/phone_android.png" alt=""></span> Car Rental
                        Office:0430490326</li><br>
                    <li><span class="me-3"><img src="../../assets/phone_android.png" alt=""></span> Car Rental Office
                        2:0430490326</li><br>
                    <li><span class="me-3"><img src="../../assets/phone_android.png" alt=""></span> Vechicle Repair
                        Service:0430490326</li>
                </ul>
            </div>
            <div class="col-4">
                <h5 class="ms-4">SERVICE HOURS:</h5>
                <ul class="navbar-nav ms-4">
                    <li> <span class="me-3"><img src="../../assets/nest_clock_farsight_analog.png" alt=""></span> Monday
                        -
                        Friday:09:00AM - 04:00PM</li><br>
                    <li><span class="me-3"><img src="../../assets/nest_clock_farsight_analog.png" alt=""></span>
                        Saturday:09:00AM-04:00PM</li><br>
                    <li><span class="me-3"><img src="../../assets/nest_clock_farsight_analog.png" alt=""></span> Sunday:
                        Closed</li>
                </ul>
            </div>
            <div class="col-4">
                <h5 class="ms-4">DOWNLODS</h5>
                <ul class="navbar-nav ms-4">
                    <li> <span class="me-3"><img src="../../assets/download.png" alt=""></span> Vehicle Hire Form</li>
                    <br>
                    <li><span class="me-3"><img src="../../assets/download.png" alt=""></span> Terms & Conditions</li>
                    <br>
                    <li><span class="me-3"><img src="../../assets/download.png" alt=""></span>Privacy Policy</li><br>
                    <li><span class="me-3"><img src="../../assets/download.png" alt=""></span> Accident Reports Form
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footrlast">
        
        <div class="col-12 " style="display: flex; padding-left: 40px;">
            <button type="click" onclick="alert" class="btn btn5 ">Home</button>
            <button type="click" onclick="alert" class="btn btn5 ms-4">Location</button>
            <button type="click" onclick="alert" class="btn btn5 ms-4">About us</button>
            <button type="click" onclick="alert" class="btn btn5 ms-4"> Services</button>
            <button type="click" onclick="alert" class="btn btn5 ms-4">Reservation</button>
            <button type="click" onclick="alert" class="btn btn5  ms-4">Add Vehicle</button>
            <button type="click" onclick="alert" class="btn btn5 ms-4">Contact us</button>
             <p class=" btn6 mt-3 ">Copyright 2022 decol.com au</p>
        </div>
 </div>